body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.fade-in {
  animation: fade-in-keyframes 2s;
}

.fade-out {
  opacity: 0;
  animation: fade-out-keyframes 2s;
}

@keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
